apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory
        image: inventory-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 6001
        env:
        - name: DB_HOST
          value: inventorydb
        - name: DB_USER
          value: inventoryuser
        - name: DB_PASSWORD
          value: inventorypass
        - name: DB_NAME
          value: inventorydb

